@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    font-family: 'Quicksand', sans-serif !important;
}