form {

    background-color: rgb(236, 236, 236);

    margin: 150px auto !important;
    display: grid;
    width: 250px;

    padding: 25px;

    border-radius: 10px;


    h1 {
        text-align: center;
        padding: 0;
        margin: 5px;
    }
    label {
        text-align: left;
        padding: 5px;
    }
    input {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid grey;
        font-family: 'Quicksand', sans-serif !important;

    }
    button {
        margin-top: 15px;
        padding: 13px;
        font-size: 17px;
        border-radius: 10px;    
        background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA  51%, #9D50BB  100%);
        transition: 0.5s;
        background-size: 200% auto;
        font-family: 'Quicksand', sans-serif !important;

    }
    button:hover {
        background-position: right center; /* change the direction of the change here */
        text-decoration: none;
    }
}
